{% comment %}New initial code template{% endcomment %}
{% block env %}{% endblock env %}

{% block start %}
def date_time(time: str) -> str:
    # your code here
    return time

{% endblock start %}

{% block example %}
print('Example:')
print(date_time("01.01.2000 00:00"))
{% endblock %}

{% block tests %}
{% for t in tests %}
assert {% block call %}date_time({{t.input|p_args}})
{% endblock %} == {% block result %}{{t.answer|p}}{% endblock %}{% endfor %}
{% endblock %}

{% block final %}
print("The mission is done! Click 'Check Solution' to earn rewards!")
{% endblock final %}
